@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;400&display=swap');

.body{
  background-image: url('concrete.jpeg');
  background-repeat: repeat;
}

#profile_container {
  display: block;
  padding-top: 50px;
  background-color: #e7e5e4;
  background-image: url('/searching.jpeg');
  
}
#title_profile{
  font-family: 'Montserrat Alternates', sans-serif;
  color:rgb(4, 76, 104);
  font-size: 24px;
  
}
#name_profile {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  width: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  color:#f2f2f2;
  
  
}
#container_profile {
  display: flex;
  width: 100%;
}
#profile_element {
  display: flex;
  justify-content: flex-start;
  padding-right: 80px;
  padding-left: 40px;
  
  font-family: 'Quattrocento Sans', sans-serif;
}
#profile_data2 {
  display: flow-root;
  width: 35%;
  padding-left: 20px;
  margin-left: 250px;
  border-radius: 1rem;
  background-color: rgb(233, 102, 69, 0.8);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.8);
  color: #f2f2f2;
  font-size: 18px;
  justify-content: center;

}

#first{
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}
#first1{
  display: inline-flex;
  justify-content: space-around;
  font-size: 16px;

}



#avatar {
  border-radius: 8rem;
  border-width: 10px;
  background-color: rgb(233, 102, 69, 0.15);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.8);
}
#profile_email {
  display: flex;
  justify-content: space-between;
}
#profile_location {
  display: flex;
  justify-content: space-between;
}
#profile_gender {
  display: flex;
  justify-content: space-between;
}
#profile_class {
  display: flex;
  justify-content: space-between;
}
#profile_occupation {
  display: flex;
  justify-content: space-between;
}
#profile_subjects {
  display: flex;
  justify-content: space-between;
}
#profile_description {
  display: flex;
  justify-content: space-between;
}
.form-group.profile_data {
  display: inline;
}

.btn.btn-primary#edit_btn {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 0;
  width: 15rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(233, 102, 69);
  color: rgb(233, 102, 69);
  background-color: rgb(233, 102, 69) !important;
}

