@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
#body_landing-container {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -5px;
}
#landing-bd {
  background-color: #fff6f0;
  
  height: 100%;
}
#landing_body{

  height: 100%;
}

#logoStuddy{
  height: 340px;
  width: auto;
  padding-right: 3cm;
  padding-top: 0;
  padding-bottom: 0;
  
}
.jumbotron {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 210px;
  background-image: url("03.jpg");
  margin-block-start: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
  color: #ffffff;
  margin-bottom:0 !important;
  margin-top: 0 !important;
  padding-top: 0px;
 
  font-family: 'Montserrat Alternates', sans-serif;
}

#jumbo{
  font-size: 4em;
}

#subtitle_brand {
  margin: 0;
  padding-top: 0;
  font-size: 2em;
  padding-right: 0.55cm;
}

* {
  box-sizing: border-box;
}
#jumbo {
  margin-block-start: 0 !important;
  padding: 0%;
}
#brand_box{
  display: block;
  justify-content: flex-end;
  margin-right: 100px;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-right: 5cm;
  
}
#brand_box .h1{
  font-size: 7em !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: rgb(235, 123, 95) !important;
  height: 200px;
  color: #ffffff;
  font-family: 'Montserrat Alternates', sans-serif;
  border-radius: 25px;
}

#btn_register {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 15rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(233, 102, 69);
  
  background-color: rgb(233, 102, 69);
  color: white;
  margin-right: 16cm;
}
.button--confirm {
  color: white;
  border-color: rgb(233, 102, 69);
  background-color: rgb(233, 102, 69) ;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    
  }
}
#topics-box{
  display:block;
  font-size: 23px;
  justify-content: center;
  color:rgb(236, 97, 62);
  align-content: center;
  text-align: center;
  
}
#img-icon{
  display: flex;
  height: fit-content;

  justify-content: center;

}
#img-icon-own{
  display: flex;
  height: fit-content;

  justify-content: center;

}

#sml-txt{
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  color:rgb(226, 63, 23);
}
#topics{
  display:block;
  font-size: 23px;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  height: fit-content;
  color:rgb(226, 63, 23);
  text-align: center;
  text-shadow: maroon;
}
#about-bd{
  display: block;
  width: 90%;
  align-content: center;
  justify-content: center;
  text-align: justify;
  margin-left: 4.5cm;
  padding-right: 5.6cm;
  height: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  border-radius: 0.4rem;
  
}

#title-abt{
  font-size: 73px;
  font-family: 'Montserrat Alternates', sans-serif;
  color:rgb(236, 97, 62);
}
#together-img{
  height: 400px;
  width: auto;
  margin-left: 30px;
  border-radius: 0.4rem;
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.5);
}
#mentor-img{
  height:345px;
  width:auto;
  margin-right: 30px;
  border-radius: 0.4rem;
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.5);
}
#text-img{
  display:flex;
  font-size: 20px;
  color:rgb(109, 82, 75);
}

#about-txt-std{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  
  color:rgb(109, 82, 75);
  padding: 29px;

}
#std-together-img{
  display: flex;
  justify-content: center;
  height: 450px;
  width: auto;
  margin-left: 30px;
  border-radius: 0.4rem;
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.5);
}

#about-txt{
  display: flex;
  font-size: 20px;

  font-family: 'Quattrocento Sans', sans-serif;
  
  color:rgb(109, 82, 75);
  padding: 29px;
  
  
}
#about-txtf{
  display: block;
  justify-content: center;
  align-content: center;
  
  font-size: 37px;
  font-family: 'Quattrocento Sans', sans-serif;
  
  color:rgb(236, 97, 62);
  padding: 29px;
  
  
}