#body_container {
  background-color: #d6a584;
  padding-top: 15px;
  
}
#chat_container {
  display: flex;
  justify-content: center;
  background-color: violet;
  height: 800px;
}

#chat_box {
  display: flex;
  margin-top: 63px;
  margin-left: 10cm;
  margin-right: 2cm;
  height: 500px;
  padding-top: 10px;
  padding-right: 10px;
  padding-right: 10px;
  justify-content: flex-end;
  
  background-color: teal;

}

#messages { 
  display: flex;
  width: 800px;
  height: 500px;
  
  
  justify-content: flex-end;
  background-color: tomato;
}

#m.container{
  display: flex;
}
#m {
  display: flex;
  width: 500px;
  background-color: turquoise;
  padding-right: 1.5cm;
  

}