@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');


/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  background-color: rgb(228, 107, 77, 0.2);
  overflow: hidden;
  margin-bottom:0 !important;
  position: absolute;
  width: 100%;
  font-family: 'Quattrocento Sans', sans-serif;

}
#font_jumbo{
  font-size: 4em;
}

/* Style the links inside the navigation bar */
.topnav a {
 
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom:0 !important;
}

/* Change the color of links on hover */
.topnav a:hover {

  
  margin-bottom:0 !important;
}

/* Add a color to the active/current link */
.topnav a.active {

  color: white;
  margin-bottom:0 !important;
}
.button {

  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 0;
  width: 15rem;
  border-width: 2px;
  border-style: solid;
 
  
 
}

  
  

#login_form{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}