@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;400&display=swap');
.jumbotron_register {
  display: flex;
    align-items: center;
  background-image: url("students_register.jpeg");
  background-size: cover;
  height: 1000px;
  justify-content: flex-end;
  padding-bottom: 15%;
  font-family: 'Montserrat Alternates', sans-serif;
  
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.register_container{
  background-color:rgb(235, 123, 95, 0.98);
  
  width: 20%;
  border-radius: 1rem;
  text-align: center;
  margin-top: 0;
  margin-right: 80px;
  margin-left: 800px;
  padding-bottom: 20px;
  color: #f2f2f2;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
}
.register_container .form .input[type='text']{
  padding-top: 0 !important;
}
.btn-primary{
  margin-top: 10px;
  background-color: rgb(228, 107, 77);
  border-radius: 1rem;
  border-color: rgb(228, 107, 77);
  color:#f2f2f2; 
  font-family: 'Montserrat Alternates', sans-serif;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}